{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
{% endblock %}

<div class="banner-row-1">
</div>
<div class="banner-row-2">
    <img class="banner-logo" src="{% static 'assets/images/banner-logo.png' %}" alt="Logo do Brito Alves, Lapenda & Bradley">
    <img class="banner-logo-mobile" src="{% static 'assets/images/banner-logo-mobile.png' %}" alt="Logo do Brito Alves, Lapenda & Bradley">
</div>
<div class="banner-row-3">
    <a href="#diferencial" class="banner-link">
        <img class="banner-cta" src="{% static 'assets/icons/chevron.svg' %}" alt="Seta call to action">
    </a>
</div>