{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/diferencial.css' %}">
{% endblock %}

<div class="section-image">
    <div class="section-title">
        <h1>Advocacia Artesanal</h1>
        <div class="title-line"></div>
    </div>
</div>
<article class="section-text">
    <p>
        Conceito de advocacia artesanal e como o escritório a utiliza de forma diferenciada. Conceito de advocacia artesanal e como o escritório a utiliza de forma diferenciada. Conceito de advocacia artesanal e como o escritório a utiliza de forma diferenciada. Conceito de advocacia artesanal e como o escritório a utiliza de forma diferenciada. Conceito de advocacia artesanal e como o escritório a utiliza de forma diferenciada. Conceito de advocacia artesanal e como o escritório a utiliza de forma diferenciada. Conceito de advocacia artesanal e como o escritório a utiliza de forma diferenciada. Conceito de advocacia artesanal e como o escritório a utiliza de forma diferenciada. Conceito de advocacia artesanal e como o escritório a utiliza de forma diferenciada.
    </p>
</article>