{% load staticfiles %} {% block css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}"> {% endblock %}

<div class="footer-row-1">
    <img class="footer-logo" src="{% static 'assets/images/footer-logo.png' %}" alt="Logo do Brito Alves, Lapenda & Bradley">
    <div class="footer-address">
        <span class="footer-city">RECIFE</span>
        <p>
            Rua do Paissandu, 567, 6º andar<br> Paissandu
            <br> CEP 52.010-000<br> (81) 3447-7900<br>
        </p>
        <a class="footer-map-btn" href="https://goo.gl/maps/PXpLaknQ9Vve7ECXA" target="_blank">VER MAPA</a>
    </div>
</div>
<hr>
<div class="footer-row-2">
    <span>&copy; 2019 CITi - Todos os direitos reservados</span>
    <span>
        Made with <img class="icon" src="{% static 'assets/icons/code.svg' %}" alt="code icon"> and <img class="icon" src="{% static 'assets/icons/heart.svg' %}" alt="heart icon"> by 
        <a href="http://citi.org.br" target="_blank">
            <img class="icon" src="{% static 'assets/icons/citi.svg' %}" alt="CITi logo">
        </a>
    </span>
</div>