{% load staticfiles %} {% block css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}"> {% endblock %}

<button class="navbar-btn" onclick="menuClick()">
    <img class="navbar-sdw" src="{% static 'assets/icons/menu-button.svg' %}" alt="logo">
</button>

<div class="navbar-web">
    <div class="navbar-logo-web">
        <img src="{% static 'assets/images/logo-only.png' %}" class="logo-only">
        <img src="{% static 'assets/images/logo-name.png' %}" class="logo-name">
    </div>

    <ul class="navbar-list-web">
        <li class="navbar-item"><a href="#banner">INÍCIO</a></li>
        <li class="navbar-item"><a href="#institucional">INSTITUCIONAL</a></li>
        <li class="navbar-item"><a href="#socios">SÓCIOS</a></li>
        <li class="navbar-item"><a href="#servicos">ÁREAS DE ATUAÇÃO</a></li>
        <li class="navbar-item"><a href="#contato">CONTATO</a></li>
    </ul>
</div>

<div class="navbar-mobile">
    <img src="{% static 'assets/images/footer-logo.png' %}" class="navbar-logo-mobile">

    <ul class="navbar-list-mobile">
        <li class="navbar-item" onclick="fechar()">
            <a href="#banner">INÍCIO</a>
        </li>
        <li class="navbar-item" onclick="fechar()">
            <a href="#institucional">INSTITUCIONAL</a>
        </li>
        <li class="navbar-item" onclick="fechar()">
            <a href="#socios">SÓCIOS</a>
        </li>
        <li class="navbar-item" onclick="fechar()">
            <a href="#servicos">ÁREAS DE ATUAÇÃO</a>
        </li>
        <li class="navbar-item" onclick="fechar()">
            <a href="#contato">CONTATO</a>
        </li>
    </ul>
</div>