{% load staticfiles %} {% block css %}
<link rel="stylesheet" href="{% static 'css/socios.css' %}"> {% endblock %}

<div class="dark-rectangle">
    <div class="section-title">
        <h2>Sócios</h2>
        <div class="title-line"></div>
    </div>
</div>
<img class="background-logo" src="{% static 'assets/images/associados-logo.png' %}" alt="Logo do Brito Alves, Lapenda & Bradley">
<div class="socios-row">
    {% for partner in partners %}
    <div class="socios-card">
        <div class="image-background" style="background-image: url('{{ partner.image.url }}')">
            <div class="socios-curriculum">
                <p>
                    {{ partner.curriculum }}
                </p>
            </div>
        </div>
        <div class="socios-name">
            <h3>{{ partner.name }}</h3>
        </div>
    </div>
    {% endfor %}
</div>