#institucional>.section-image {
    height: 54vh;
    background-attachment: fixed;
    background-image: url('../assets/images/advocacia-artesanal.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

#institucional .section-image>.section-title {
    display: flex;
    padding: 7px 0 7px 19vw;
    background-color: #737373;
    position: absolute;
    bottom: -12px;
    justify-content: flex-end;
    min-width: 20vw;
}

#institucional .section-title>h1 {
    margin: 2px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

#institucional .section-title>.title-line {
    width: 100px;
    border-bottom: solid 2px white;
    margin-left: 12px;
}

#institucional>.section-text {
    font-weight: 300;
    padding: 11vh 19vw 21vh 19vw;
    line-height: 1.4;
    text-align: justify;
}

@media (max-width: 1024px) {
    #institucional>.section-image {
        background-attachment: initial;
    }
}

@media (max-width: 600px) {
    #institucional>.section-image {
        height: 54vh;
    }
    #institucional .section-image>.section-title {
        min-width: 55vw;
        padding: 9px 0 9px 10vw;
        bottom: -15px;
    }
    #institucional .section-title>h1 {
        font-size: 1.4em;
        margin-right: 8px;
        width: 100%;
    }
    #institucional>.section-text {
        padding: 9vh 15vw 21vh 15vw;
    }
    #institucional .section-title>.title-line {
        width: 90px;
        position: absolute;
        right: 0;
        bottom: 5px;
        margin-left: 0;
    }
}