:root {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.wrapper {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Segoe UI';
    src: url("../assets/fonts/segoe-ui.ttf");
}