{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">

    <!-- CSS stylesheets archives link -->
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    <title>{% block title %}Brito Alves, Lapenda & Bradley{% endblock %}</title>
</head>
<body>
    <div class="wrapper">
        
        <!-- Fixed navbar -->
        <nav class="nav" id="nav">
            {% include 'includes/navbar.html' %}
        </nav>

        <!-- Website sections -->
        <div class="wrapper-content">

            <!-- Section 1: Banner -->
            <section class="section" id="banner">
                {% include 'includes/banner.html' %}
            </section>

            <!-- Section 2: Diferential of the office -->
            <section class="section" id="diferencial">
                {% include 'includes/diferencial.html' %}
            </section>

            <!-- Section 3: Partners -->
            <section class="section" id="socios">
                {% include 'includes/socios.html' %}
            </section>

            <!-- Section 4: About-->
            <section class="section" id="institucional">
                {% include 'includes/institucional.html' %}
            </section>

            <!-- Section 5: Fields of work- -->
            <section class="section" id="servicos">
                {% include 'includes/servicos.html' %}
            </section>

             <!-- Section 6: Contact form -->
             <section class="section" id="contato">
                {% include 'includes/contato.html' %}
            </section>

            <!-- Section 7: Footer -->
            <footer class="section" id="footer">
                {% include 'includes/footer.html' %}
            </footer>
            
        </div>

    </div>

    <!-- JavaScripts archives links -->
    <script src="{% static 'js/balb.js' %}"></script>

</body>
</html>