{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">

    <!-- CSS stylesheets archives link -->
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">
    {% endblock %}

    <title>{% block title %}Brito Alves, Lapenda & Bradley{% endblock %}</title>
</head>

<body>
    <div class="wrapper">

        <!-- Fixed navbar -->
        <nav class="nav" id="nav">
            {% include 'includes/navbar.html' %}
        </nav>

        <!-- Website sections -->
        <div class="wrapper-content">

            <!-- Section 1: Banner -->
            <section class="section" id="banner">
                {% include 'includes/banner.html' %}
            </section>

            <!-- Section 2: Diferential of the office -->
            <section class="section" id="institucional">
                {% include 'includes/institucional.html' %}
            </section>

            <!-- Section 3: Partners -->
            <section class="section" id="socios">
                {% include 'includes/socios.html' %}
            </section>

            <!-- Section 4: Fields of work- -->
            <section class="section" id="servicos">
                {% include 'includes/servicos.html' %}
            </section>

            <!-- Section 5: Contact form -->
            <section class="section" id="contato">
                {% include 'includes/contato.html' %}
            </section>

            <!-- Section 6: Footer -->
            <footer class="section" id="footer">
                {% include 'includes/footer.html' %}
            </footer>

        </div>

    </div>

    <!-- JavaScripts archives links -->
    {% block scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/smoth-scroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sticky-navbar.js' %}"></script>
    <script type="text/javascript" src="{% static 'slick/slick.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/socios.js' %}"></script>
    <script type="text/javascript">
        let static = "{% static 'assets' %}";
    </script>
    <script type="text/javascript" src="{% static 'js/servicos.js' %}"></script>
    {% endblock %}
</body>

</html>